<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi,</p>
        <p>An Offer has been proposed between {{name}} and {{iname}} for Rs. {{price}}! Kindly Check it Out!</p>
    </body>
</html>